<div class= "logo-container">
  <div>
    <%= image_tag "gmcf_logo.png", alt: "Logo", class: "logo" %>
  </div>
  <div class="text-container">
    <h1 class="title">GMCF SANTÉ</h1>
    <h2 class="subtitle">Fournitures médicales</h2>
  </div>
</div>
