<div class="home-container">
<div class="top-section">
<%= render "top" %>
</div>
<div class="banner">
  <div>
    <h2 class="welcome-message">Votre fournisseur de matériel médical</h2>
  </div>
  <div class="description-banner">
  <%= image_tag "delivery.png", alt: "Logo", class: "img-banner" %>
  <p class="description">
    Réactivité de livraison en 48h maximum et solutions sur mesure
  </p>
  </div>
</div>
</div>
